body {
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-size: 14px;
	 color: #333333; 
	 background-color: #f3f9a7;
	 max-width: 1400px;
	 /*margin-top: 50px;*/
	 margin-left: 250px;
	 width: 80%;
	 

}

h2,h3,h4,h5,h6 {
	color: green;	; 
	text-transform: capitalize; 
	font-weight: bolder;
	font-family: "Lucida Console", monospace;
	font-size: 7; 
	 text-decoration: underline;
	 background-color: #A2B7CF;
	 width: 90%; max-width: 800px; min-width: 400px;
	 opacity: 1;
	 padding: 5px;
	 display: block;

}

p.italic {font-family: 'Lobster', cursive; font-style: italic; font-weight: normal; text-decoration: underline; color: red;}
.italic:hover {color: yellow; text-decoration: underline;font-weight: bolder; background-color: black;}

.ClassI {color: black; font-size: 30px; text-align: left; text-align: justify; text-decoration: underline; text-transform: capitalize; font-weight: bolder;}


#IDI {color: #FFFF00; text-align: left; border: 5px solid #000000; background-image: url("photobox/ferme.gif"); background-size: cover; background-attachment: fixed; height: 108px; opacity: .7; border-radius: 15px; }
#IDI a:link {color: yellow; width: 65%; padding: 5px; line-height: 25px;}
#IDI a:visited {color: blue; background-color: black; opacity: 7; font-weight: bolder;}   
#IDI a:hover {color: yellow; background-color: black; border-radius: 15px; text-decoration: underline; font-weight: bolder; display: inline-block; width: 80px;}
#IDI a:active {color: green; background-color: black;}
 



h2:hover {color: yellow; text-decoration: underline; font-weight: bolder;background-color: black;}
h3:hover {color: yellow; text-decoration: underline;font-weight: bolder;background-color: black;}
h4:hover {color: yellow; text-decoration: underline;font-weight: bolder;background-color: black;}
h5:hover {color: yellow; text-decoration: underline; font-weight: bolder;background-color: black;}
h6:hover {color: yellow; text-decoration: underline; font-weight: bolder;background-color: black;}

ol.ClassII li {color: black; width: 170px; padding:5px; background-color: #A2B7CF; border-radius: 15px; display: inline-block;}
ol.ClassII li:hover {color: yellow; text-decoration: underline; background-color: black; padding:5px; display:inline-block; width: 170px; }



ul, ol {list-style-type: disc;}


#fixed {
	color: black;
	
	

	

}

#fluid {
	color: black;
	
	

	
}


.ClassIII { width: 90%; max-width: 800px; min-width: 400px }